# --- Sprint 1 ---
gradio
pandas
python-dotenv
faster-whisper

# --- Sprint 2 ---
gspread
oauth2client
spacy
es-core-news-sm # <-- AÑADIDO (soluciona Error 2)

# --- Sprint 3 ---
scikit-learn
joblib

# (Líneas conflictivas eliminadas)

#comandos
#.venv\Scripts\activate
#pip install -r requirements.txt
#python app.py
