# =======================================================
# Sprint 1: Fundaciones y Bot Base
# =======================================================
gradio
pandas
python-dotenv
faster-whisper
Pillow<12.0

# =======================================================
# Sprint 2: NLP y Conexión a GSheets
# =======================================================
gspread
oauth2client
spacy
es-core-news-sm @ https://github.com/explosion/spacy-models/releases/download/es_core_news_sm-3.7.0/es_core_news_sm-3.7.0.tar.gz
dateparser

# =======================================================
# Sprint 3: Modelo No-Show
# =======================================================
scikit-learn
numpy<2.0.0
joblib

# =======================================================
# Sprint 4: Voz (TTS) y QR
# =======================================================
# TTS (Coqui) - IMPORTANTE: Debe instalarse con esta configuración para CPU
--extra-index-url https://download.pytorch.org/whl/cpu
torch
torchaudio
TTS
# QR para WhatsApp
qrcode[pil]